{% extends 'shared/_layout.html' %}
{% load static %}

{% block title %}
 درباره ما
{% endblock %}
{% block content %}
    <body>
	 <div id="contact-page" class="container">
    	<div class="bg">


    		<div class="row">
				<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">لوگـو شرکت</h2>
						<img src="{{ site_setting.site_logo.url }}" width="300px" style="margin-left: 70px" class="img-responsive" />
	    			</div>
    			</div>

	    		<div class="col-sm-8">
	    			<div class="about">
	    				<h2 class="title text-center">دربـاره ما</h2>
						<p class="about-desc">
                            {{ site_setting.about_us_text }}
						</p>
	    			</div>
	    		</div>
	    	</div>

            <div class="row">
                <div class="col-sm-12 about-address">
                    <address>
                        <p> آدرس : {{ site_setting.address }} |
                            تلفن : {{ site_setting.phone }} |
                            {% if site_setting.fax %}
                             فکس : {{ site_setting.fax }} |
                            {% endif %}
                            {% if site_setting.email %}
                            ایمیل : {{ site_setting.email }} |
                            {% endif %}
                        </p>
                    </address>
                </div>
            </div>


			<div class="row">
				<div class="container">
	    			<div class="col-sm-12" style="overflow: hidden; margin-bottom: 40px">
                        <h2 class="title text-center">مـا اینجـا هستیـم ... </h2>    			    						<div id="gmap" class="contact-map">
							<img src="{% static 'images/home/Map.jpg' %}" alt="Map"/>
						</div>
					</div>
				</div>
			</div>

    	</div>
    </div><!--/#contact-page-->

	<footer id="footer"><!--Footer-->
		<div class="footer-Before">
			<div class="container">
				<div class="block-news">
					<div class="row">
						<h3>با عضویت در خبـرنامه ما از تخفیفات ویـژه ما با خبـر شوید ... </h3>
						<div class="searchform newslatter">
							<input type="text" placeholder="آدرس ایمیـل شما ..."/>
							<button type="submit" class="btn btn-default">
								<i class="fa fa-arrow-circle-o-left"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="address">
							<img src="../../static/images/home/map.png" alt="" />
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="../../static/images/home/map.png" alt="" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="companyinfo">
							<h2><span>{{ site_setting.site_name }}</span></h2>
							<h4>درباره ما :</h4>
                            <p>{{ site_setting.copy_right }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Online Help</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Order Status</a></li>
								<li><a href="#">Change Location</a></li>
								<li><a href="#">FAQ’s</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Quock Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">T-Shirt</a></li>
								<li><a href="#">Mens</a></li>
								<li><a href="#">Womens</a></li>
								<li><a href="#">Gift Cards</a></li>
								<li><a href="#">Shoes</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privecy Policy</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Billing System</a></li>
								<li><a href="#">Ticket System</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Store Location</a></li>
								<li><a href="#">Affillate Program</a></li>
								<li><a href="#">Copyright</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom" style="direction: ltr !important;">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2018
						<a target="_blank" href="http://www.1614GP.ir"><b>1614Group</b></a>. All rights reserved.
					</p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->


    <script src="../../static/js/jquery.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="../../static/js/gmaps.js"></script>
	<script src="../../static/js/contact.js"></script>
	<script src="../../static/js/price-range.js"></script>
    <script src="../../static/js/jquery.scrollUp.min.js"></script>
    <script src="../../static/js/jquery.prettyPhoto.js"></script>
    <script src="../../static/js/main.js"></script>
</body>
</html>
{% endblock %}